{% extends "model-page.html" %}
{% block content %}
    <h2>Schedules</h2>
    <a href="event/">
        <button type="button">New Event</button>
    </a>
    <ul style="font-size: 18px">
        {% for event in events %}
            <div>
                <li>{{ event.title }} - {{ event.get_event_date }}
                ( <a href="event/?id={{ event.id }}">Edit</a>
                /<a href="event/delete/{{ event.id }}/">Delete</a>)</li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}